<template>
  <div class="contact">
    <Header />
    <div class="content container">
        <h2 class="content__title">Kontakt</h2>
        <p class="content__text">Jeśli jesteś zainteresowany współpracą ze mną,polecam skontaktować się ze mną telefonicznie, mailowo lub przez social media. Na pewno się dogadamy!</p>
        <div class="contactBox">
          <ul class="contactBox__list">
            <li class="contactBox__item"><PhoneIcon class="phone" />+48 111-111-111</li>
            <li class="contactBox__item"><AtIcon class="at" /><a class="contactBox__link" href="mailto: gruda@op.pl">gruda@op.pl</a></li>
            <li class="contactBox__item"><IgIcon class="ig" /><a class="contactBox__link" href="https://www.instagram.com/grudaenpees/">#grudaenpees</a></li>
            <li class="contactBox__item"><YtIcon class="yt" /><a class="contactBox__link" href="https://www.youtube.com/channel/UCi2WEIegssI-2MgeaBmAL7A">MG Film</a></li>
          </ul>
        </div>
      </div>
    <Footer />
  </div>
</template>

<script>
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import YtIcon from '@/assets/svg/youtube.svg';
import IgIcon from '@/assets/svg/instagram.svg';
import PhoneIcon from '@/assets/svg/phone.svg';
import AtIcon from '@/assets/svg/at.svg';

export default {
  name: 'offer',
  components: {
    Header,
    Footer,
    YtIcon,
    IgIcon,
    PhoneIcon,
    AtIcon,
  },
};
</script>

<style lang="scss">
.contact {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.container {
  max-width: 1160px;
  margin: auto;
}
.content {
  width: 100%;
  padding: 2rem 0 4rem;
   &__title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    @include media('>=desktop') {
      margin: 0;
    }
  }
  &__text {
    padding: 2rem 1rem;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.5rem;
    @include media('>=desktop') {
      padding: 2rem 0;
    }
  }
  .contactBox {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      &__list {
      text-align: left;
      }
    &__item {
      margin: 1rem 0;
    }
    &__link {
      padding: 1rem;
      text-decoration: none;
      color: $black;
      transition: all .5s ease-in-out;
      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }
  }
  .yt {
    width: 30px;
    height: 35px;
    padding-bottom: 2px;
    vertical-align: middle;
  }
  .ig {
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
    vertical-align: middle;
  }
  .phone {
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
    vertical-align: middle;
    margin-right: 10px;
  }
  .at  {
    width: 30px;
    height: 30px;
    padding-bottom: 2px;
    vertical-align: middle;
  }
}
</style>
