<template>
  <div class="home">
    <transition name="fade-header" appear>
      <Header />
      </transition>
    <div class="container">
      <transition name="fade-info" appear>
      <Info />
      </transition>
      <transition name="fade-social" appear>
      <Social />
      </transition>
    </div>
    <Footer />
  </div>
</template>
<script>
import Header from '../components/Header.vue';
import Info from '../components/Info.vue';
import Social from '../components/Social.vue';
import Footer from '../components/Footer.vue';

export default {
  name: 'MGHome',
  components: {
    Header,
    Info,
    Social,
    Footer,
  },
};
</script>
<style lang="scss">

.home {
  width: 100%;
  min-height: 100vh;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: 1.6rem;
}
.container {
  max-width: 1160px;
  margin: auto;
}
.fade-info-enter-active, .fade-info-leave-active {
  transition: opacity 2s;
}
.fade-info-enter, .fade-info-leave-to{
  opacity: 0;
}
.fade-social-enter-active, .fade-social-leave-active {
  transition: opacity 3s;
}
.fade-social-enter, .fade-social-leave-to{
  opacity: 0;
}
.fade-header-enter-active, .fade-header-leave-active {
  transition: opacity 1s;
}
.fade-header-enter, .fade-header-leave-to{
  opacity: 0;
}
</style>
