<template>
<div class="portfolio">
  <Header />
    <div class="content container">
      <h2 class="content__title">Portfolio</h2>
      <p class="content__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga voluptatem magnam quidem ea officia ipsum eveniet laboriosam distinctio magni amet ipsam laudantium, pariatur temporibus dolorum officiis error optio odio enim facere beatae reprehenderit nostrum velit rerum. Fugiat ea voluptates velit nam vitae, quo tempore doloribus, alias ad modi debitis blanditiis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dicta nostrum quia sint sit veniam illo voluptatem id, exercitationem dolores?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod beatae dicta quisquam fugiat magnam adipisci repellat nobis sequi ipsa quidem!</p>
      <ul class="content__list">
        <li class="content__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, commodi!</li>
        <li class="content__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, commodi!</li>
        <li class="content__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, commodi!</li>
        <li class="content__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, commodi!</li>
        <li class="content__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, commodi!</li>
        <li class="content__item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, commodi!</li>
      </ul>
      <p class="content__text">Ponizej znajduja sie moje social media:
        <Social />
      </p>
    </div>
  <Footer />
</div>
</template>

<script>
import Header from '../components/Header.vue';
import Footer from '../components/Footer.vue';
import Social from '../components/Social.vue';

export default {
  name: 'portfolio',
  components: {
    Header,
    Footer,
    Social,
  },
};
</script>

<style lang="scss">

.portfolio {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.content {
  width: 100%;
  padding: 2rem 0 4rem;

   &__title {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    @include media('>=desktop') {
      margin: 0;
    }
  }
  &__text {
    padding: 2rem 1rem;
    text-align: justify;
    font-size: 1.6rem;
    line-height: 2.5rem;
    @include media('>=desktop') {
      padding: 2rem 0;
    }
  }
  &__list {
    padding: 0 1rem;
    list-style-type: square;
    line-height: 2.5rem;
    @include media('>=desktop') {
      padding: 0;
      margin: 0;
    }
  }
  &__item {
    margin: 1rem 2rem;
  }
}
.container {
  max-width: 1160px;
  margin: auto;
}
</style>
