<template>
<div :class="[currentPage.includes('home') ? '' : 'footerPageBg']">
  <footer :class="[currentPage.includes('home') ? 'footer' : 'footerPage']">
    <span :class="[currentPage.includes('home') ? 'footer__copy' : 'footerPage__copy']">
      Wszelkie prawa zastrzezone &copy; 2020 MGFilm.eu</span>
  </footer>
</div>
</template>

<script>
export default {
  name: 'MGFooter',
  computed: {
    currentPage() {
      return this.$route.name;
    },
  },
};
</script>

<style lang="scss">

.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: .5rem;
  left: 50%;
  transform: translate(-50%, 0);
  &__copy {
    font-size: 1rem;
    font-weight: 300;
    color: $white;
    opacity: .5;
    letter-spacing: .2rem;
    @include media('>=tablet') {
      font-size: 1.4rem;
  }
  }
}
.footerPage {
  width: 100%;
  height: 40px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  &__copy {
    font-size: 1.25rem;
    font-weight: 300;
    color: $white;
    opacity: .5;
    letter-spacing: .2rem;
    @include media('>=tablet') {
      font-size: 1.6rem;
    }
  }
}
.footerPageBg {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
</style>
