<template>
  <form class="form" method="POST" @submit.prevent="validateForm">
    <p v-if="errors.length" class="alert">Wypełnij wszystkie pola!</p>
    <div class="form__group">
      <input class="form__input" type="text" placeholder="Imię i nazwisko" v-model="name"/>
      </div>
      <div class="form__group">
      <input class="form__input" type="email" placeholder="E-mail" v-model="email"/>
      </div>
      <div class="form__group">
      <textarea class="form__textarea" type="text" placeholder="Treść" v-model="message"></textarea>
      </div>
      <div class="form__group">
        <button class="form__submitBtn" type="submit">Wyślij</button>
      </div>
  </form>
</template>

<script>
export default {
  name: 'MGForm',
  data() {
    return {
      errors: [],
      name: '',
      email: '',
      message: '',
    };
  },
  methods: {
    validateForm() {
      if (this.name && this.email && this.message) {
        this.name = '';
        this.email = '';
        this.message = '';
      }
      this.errors = [];
      if (!this.name || !this.email || !this.message) {
        this.errors.push('error');
      }
      if (this.errors.length > 0) {
        setTimeout(() => {
          const alert = document.querySelector('.alert');
          if (alert) {
            alert.remove();
          }
        }, 2000);
      }
      return true;
    },
  },
};
</script>

<style lang="scss">

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.6rem;
  @include media('>=tablet') {
      margin-top: 4rem;
  }
  @include media('landscape') {
      margin-top: 1rem;
  }
  &__input {
    padding: 2rem 1rem;
    height: 30px;
    width: 100%;
    background-color: none;
    border: 0;
    border-bottom: 1px solid $black;
    transition: box-shadow .5s ease-in;
  }
  &__textarea {
    padding: 1rem;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $black;
    max-height: 200px;
    height: 200px;
    @include media('>=tablet') {
      height: 300px;
    }
  }
  &__input:focus, &__textarea:focus {
      outline: none;
      box-shadow: 0 10px 10px -8px $green;
    }
  &__submitBtn {
    color: $white;
    width: 100%;
    padding: 1.5rem 0;
    background-color: $green;
    border: 0;
    margin: 1rem 0;
    @include media('>=tablet') {
      width: 500px;
    }
  }
  &__group {
    width: 100%;
    padding: 0 2rem;
    margin: 1rem 0;
    @include media('>=tablet') {
      width: 500px;
      padding: 0;
    }
    @include media('landscape') {
      margin: 1rem 0;
    }
  }
  .alert {
    color: red;
  }
}
</style>
