<template>
<div :class="[currentPage.includes('home') ? '' : 'headerPageBg']">
  <header class="header container">
    <Logo />
    <Navi />
  </header>
</div>
</template>
<script>
import Logo from '@/components/Logo.vue';
import Navi from '@/components/Navi.vue';

export default {
  name: 'MGHeader',
  components: {
    Logo,
    Navi,
  },
  computed: {
    currentPage() {
      return this.$route.name;
    },
  },
};
</script>
<style lang="scss">
.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  @include media('>=desktop') {
    padding: 2rem 0;
  }
}
.headerPageBg {
  width: 100%;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
</style>
