<template>
  <div class="info">
    <h2 class="info__title">Moviemaker, photography & adventure</h2>
  </div>
</template>

<script>
export default {
  name: 'MGInfo',
};
</script>

<style lang="scss">
.info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1rem;
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: $white;
    letter-spacing: 1rem;
    font-style: italic;
    line-height: 3.5rem;
    word-break: break-word;
    @include media('>=tablet') {
    font-size: 2.4rem;
    }
    @include media('>=tablet-l') {
      font-size: 3rem;
    }
  }
}
</style>
