<template>
<div :class="[currentPage.includes('home') ? 'logo--home' : 'logo']">
  <h1 class="logo__heading"><a href="/" class="logo__link"><img class="logo__img" src="../assets/logo.png" alt="" /></a></h1>
</div>
</template>

<script>
export default {
  name: 'MGLogo',
  computed: {
    currentPage() {
      return this.$route.name;
    },
  },
};
</script>

<style lang="scss">

.logo {

  &--home {
    margin-left: 0;
    @include media('>=tablet') {
      margin-left: 50%;
      transform: translate(-50%, 0);
    }
  }

  &__heading {
    font-size: 3rem;
  }
  &__img {
    width: 210px;
    height: 60px;
    @include media('>=tablet') {
      width: 280px;
      height: 80px;
    }
  }
  &__link {
    display: inline-block;
  }
}
</style>
