<template>
<div :class="[currentPage.includes('home') ? 'socialWrapper' : '']">
    <ul :class="[currentPage.includes('home') ? 'social' : 'social social--portfolio']">
      <li :class="[currentPage.includes('home') ? 'social__item' : 'social__item social__item--portfolio']"><a class="social__link" href="https://www.instagram.com/grudaenpees/" target="_blank"><IgIcon class="ig" :class="[currentPage.includes('home') ? 'social__icon' : 'social__icon--portfolio']" /></a></li>
      <li :class="[currentPage.includes('home') ? 'social__item' : 'social__item social__item--portfolio']"><a class="social__link" href="https://www.youtube.com/channel/UCi2WEIegssI-2MgeaBmAL7A" target="_blank"><YtIcon class="yt" :class="[currentPage.includes('home') ? 'social__icon' : 'social__icon--portfolio']"/></a></li>
    </ul>
    </div>
</template>

<script>
import IgIcon from '@/assets/svg/instagram.svg';
import YtIcon from '@/assets/svg/youtube.svg';

export default {
  name: 'MGSocial',
  components: {
    IgIcon,
    YtIcon,
  },
  computed: {
    currentPage() {
      return this.$route.name;
    },
  },
};
</script>

<style lang="scss">

.socialWrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 8.5rem 0;
  @include media('>=tablet') {
    margin: 7rem 0;
  }
  @include media('landscape') {
    margin: 5.5rem 0;
  }
  @include media('>=tablet-l', 'landscape') {
    margin: .5rem 0;
  }
  @include media('>=tablet-l') {
    margin: 6rem 0;
  }
}
.social {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  &--portfolio {
    justify-content: flex-start;
  }
  &__item {
    margin: 0 .5rem;
    &--portfolio {
    margin: 0 .5rem;
    &:not(:last-child) {
      margin-left: 0;
    }
  }
  }
  &__link {
    display: block;
  }
  &__icon, &__icon--portfolio {
    opacity: 0.5;
    transition: opacity .2s ease-in;
    &:hover {
      opacity: 1;
    }
  }
  &__icon {
    color: $white;
    fill: currentColor;
  }
  &__icon--portfolio {
    color: $green;
    fill: currentColor;
  }
  .ig {
    width: 30px;
    height: 30px;
  }
  .yt {
    width: 40px;
    height: 40px;
  }
}
</style>
