<template>
  <div id="app">
    <router-view />
    </div>
</template>
<script>
export default {
  name: 'app',
};
</script>
<style lang="scss">

html, body {
  // font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  height: 100vh;
  position: relative;
}
</style>
